# EXCLUDE
/*
/.mutt/cache
/.mutt/temp

# INCLUDE folders
!/.public
!/.i3
!/.fonts
!/.mutt

# INCLUDE files
!/.gitignore
!/.gitconfig
!/.config/user-dirs.dir
!/.ssh/config
!/.weechat/weechat.conf
!/.gnupg/gpg-agent.conf
!/.muttrc
!/.Xresources
!/.xinitrc
!/.zprofile
!/.zshrc
!/.vimrc
!/.xpdfrc
!/.offlineimaprc
