# EXCLUDE ALL
/*
*.pyc

# CACHE
!/.cache
/.cache/*
!/.cache/pacman-backup
!/.cache/aur-backup
!/.cache/npm-backup

# LOCAL/BIN
!/.local
/.local/*
!/.local/bin

# CONFIG
!/.config
/.config/*

!/.config/ag
!/.config/bspwm
!/.config/conky
!/.config/cower
!/.config/fontconfig
!/.config/git
!/.config/goobook
!/.config/mutt
!/.config/nvim
!/.config/offlineimap
!/.config/qutebrowser
!/.config/sxhkd
!/.config/termite
!/.config/user-dirs.dir
!/.config/x11
!/.config/zathura
!/.config/zsh

# GPG
!/.config/gnupg
/.config/gnupg/*

!/.config/gnupg/gpg-agent.conf

# SYSTEMD
!/.config/systemd/user/*.service
!/.config/systemd/user/*.timer

# WEECHAT
!/.config/weechat
/.config/weechat/*

!/.config/weechat/weechat.conf
!/.config/weechat/irc.conf

# OTHER
!/.public
!/.gitignore
!/.zshenv
