snippet test
static void
test_$1 (void **state) {
	(void) state;
	$0
}
endsnippet

snippet fn
$1
$2 ($3) {
	$0
}
endsnippet

snippet {
{
	$0
}
endsnippet

snippet {;
{
	$0
};
endsnippet

snippet }
{$0}
endsnippet

snippet };
{$0};
endsnippet
