snippet log
console.log($1);$2
endsnippet

snippet err
console.error($1);$2
endsnippet

snippet for
for ($1) {$2
endsnippet

snippet fn "" i
function ${1}(${2}) {${3}
endsnippet

snippet req
require('${1}')${2}
endsnippet

snippet {;
{
	${1}
};
endsnippet

snippet {);
{
	${1}
});
endsnippet

snippet /*
/* ${1}
 */
endsnippet

snippet [;
[
	${1}
];
endsnippet
