[Unit]
Description=Mopidy music server
After=dbus.service
After=network.target

[Service]
ExecStart=/usr/bin/mopidy --config %h/local/private/mopidy/mopidy.conf:/etc/mopidy/mopidy.conf
Restart=on-failure

[Install]
WantedBy=default.target
