[Unit]
Description=Panel
After=graphical.target

[Service]
Environment=DISPLAY=:1
ExecStart=/bin/bash %h/local/config/bspwm/panel

[Install]
WantedBy=default.target
