[Unit]
Description=Panel Management
After=graphical.target

[Service]
type=oneshot
Environment=DISPLAY=:1
ExecStart=/bin/bash "%h/local/config/bspwm/panel"

[Install]
WantedBy=default.target
