[Unit]
Description=WM, Scratchpad, and Panel Manager
After=graphical.target

[Service]
Environment=DISPLAY=:1
ExecStart=/bin/bash %h/.local/bin/wm service

[Install]
WantedBy=default.target
