snippet { "" i
{
	${1}
}
endsnippet

snippet } "" i
{${1}}${2}
endsnippet

snippet [ "" i
[
	${1}
]
endsnippet

snippet ] "" i
[${1}]${2}
endsnippet

snippet ( ""
(
	${1}
)
endsnippet

snippet ) "" i
(${1})${2}
endsnippet

snippet " "" i
"${1}"${2}
endsnippet

snippet ' "" i
'${1}'${2}
endsnippet
